{{!-- <ul>
    {{#each paymethod}}
    <li>{{this.method}}</li>
    {{/each}}
</ul> --}}
<div class="loan-calculator">
    <div class="note" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <ul>
            <li>Nếu người dùng vay dưới <span>10 triệu</span>, lãi suất sẽ là <span>2%/tháng (24%/năm)</span>, ngày đáo
                hạn là sau <span>6 tháng</span> kể từ
                khi yêu cầu vay được chấp nhận.
            </li>
            <li>Nếu người dùng vay dưới <span>20 triệu </span>, lãi suất sẽ là <span>2.2%/tháng (26.4%/năm)</span>, ngày
                đáo hạn là sau 1<span>2 tháng</span> kể
                từ khi yêu cầu vay được chấp nhận.</li>
            <li>Nếu người dùng vay dưới <span>30 triệu </span>, lãi suất sẽ là <span>2.5%/tháng (30%/năm)</span>, ngày
                đáo hạn là sau 1<span>8 tháng</span> kể
                từ khi yêu cầu vay được chấp nhận.</li>
        </ul>
    </div>
    <div class="top">
        <h2>Công cụ EMI</h2>
        <form action="#">
            <div class="group">
                <div class="title">Số tiền vay</div>
                <input type="text" class="loan-amount" value="100000" id="inputBox" oninput="formatText()">
            </div>
            <div class="group">
                <div class="title">Lãi suất (năm)</div>
                <input type="text" class="interest-rate" value="7.5">
            </div>
            <div class="group">
                <div class="title">Thời hạn vay (tháng)</div>
                <input type="text" class="loan-tenure" value="240">
            </div>
        </form>
    </div>

    <div class="result">
        <div class="left">
            <div class="loan-emi">
                <h3>Trả góp hàng tháng</h3>
                <div class="value">123</div>
            </div>
            <div class="total-interest">
                <h3>Tổng lãi phải trả</h3>
                <div class="value">1234</div>
            </div>
            <div class="total-amount">
                <h3>Tổng nợ cần trả</h3>
                <div class="value">12345</div>
            </div>

            <button class="calculate-btn">
                Tính toán
            </button>
        </div>
        <div class="right">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    {{!-- test --}}
    <div class="mt-4">
        <div class="row">
            {{#each clients}}
            <div class="col-sm-6 col-lg-4">
                <a href="/client/{{this.slug}}">
                    <p>{{this.name}}</p>
                </a>

                <div class="card-body">
                    <a href="/clients/{{this.slug}}">
                        <h5 class="card-title">{{this.cccd}}</h5>
                    </a>
                    <p class="card-text">{{this.email}}</p>
                    <a href="#" class="btn btn-primary">Mua khoa hoc</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
    integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{!-- src="main.js" --}}
<script src="/js/emi.js">

</script>