<div class="loan-calculator">
    <div class="top">
        <h2>Công cụ EMI</h2>
        <form action="#">
            <div class="group">
                <div class="title">Số tiền vay</div>
                <input type="text" class="loan-amount" value="100000" id="inputBox" oninput="formatText()">
            </div>
            <div class="group">
                <div class="title">Lãi suất (năm)</div>
                <input type="text" class="interest-rate" value="7.5">
            </div>
            <div class="group">
                <div class="title">Thời hạn vay (tháng)</div>
                <input type="text" class="loan-tenure" value="240">
            </div>
        </form>
    </div>

    <div class="result">
        <div class="left">
            <div class="loan-emi">
                <h3>Trả góp hàng tháng</h3>
                <div class="value">123</div>
            </div>
            <div class="total-interest">
                <h3>Tổng lãi phải trả</h3>
                <div class="value">1234</div>
            </div>
            <div class="total-amount">
                <h3>Tổng nợ cần trả</h3>
                <div class="value">12345</div>
            </div>

            <button class="calculate-btn">
                Tính toán
            </button>
        </div>
        <div class="right">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    {{!-- test --}}
    <div class="mt-4">
        <div class="row">
            {{#each clients}}
            <div class="col-sm-6 col-lg-4">
                <a href="/client/{{this.slug}}">
                    <p>{{this.name}}</p>
                </a>

                <div class="card-body">
                    <a href="/clients/{{this.slug}}">
                        <h5 class="card-title">{{this.cccd}}</h5>
                    </a>
                    <p class="card-text">{{this.email}}</p>
                    <a href="#" class="btn btn-primary">Mua khoa hoc</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
    integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{!-- src="main.js" --}}
<script src="/js/emi.js">

</script>