<div class="app">
    <!-- banner -->
    <div class="container-fluid" id="banner">
        <div class="row banner text-light">
            <h1>Tin tức</h1>
        </div>
    </div>

    <!-- news -->
    <div class="container news">
        <div class="row">
            {{#each news}}
            <div class="col-xs-11 col-sm-6 col-md-4">
                <div class="news__post">
                    <a href="/news/{{this._id}}">
                        <img src="{{this.img}}" alt="news6">
                        {{!-- <p>{{this._id}}</p> --}}
                    </a>
                    <header class="news__title mt-4">
                        <p>{{this.created}}</p>
                        <h4>
                            <a href="/news/{{this.id}}">{{this.title}}
                            </a>
                        </h4>
                    </header>
                    <div class="news__preview">
                        <p>{{this.preview}}</p>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>

    <div class="sep"></div>
    <!-- pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span
                        aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item">
                <a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>

    <!-- banner 2 -->
    <div class="container" id="banner2">
        <div class="banner2__img my-5 ">
            <div class="banner2__img-left text-light">
                <h3 class="">Hoàn tất hồ sơ
                    nhanh chóng tại Binkomo</h3>
                <p>Tải app ngay.
                    Hồ sơ duyệt nhanh hơn 50%.</p>
                <div class="loaning-intro_download">
                    <h6 class="inline-block font-medium text-white">Sắp ra mắt</h6>
                    <div class="d-flex loaning-intro_download-app gap-1 mb-8 md:mb-0">
                        <button aria-label="Mở kho ứng dụng" class="border-none opacity-50 cursor-not-allowed">
                            <img width="150" height="44" src="/img/appstore.jpg" class="" alt="appstore">
                        </button>
                        <button aria-label="Mở kho ứng dụng" class="border-none opacity-50 cursor-not-allowed">
                            <img width="170" height="68" src="/img/ggplay.jpg" class="" alt="ggplay">
                        </button>
                    </div>
                </div>
            </div>
            <div class="banner2__img-phone">
                <img src="/img/phone1.jpg" alt="" class="banner2__img-phone--img1">
                <img src="/img/phone2.jpg" alt="" class="banner2__img-phone--img2">
            </div>
        </div>
    </div>
</div>